node_modules
npm-debug.log
.env*
!.env.example
dist
.angular
coverage
.git
.vscode
.idea
*.md
!README.md
.eslintcache
.DS_Store
.vite  # Vite dev cache
*.spec.ts  # Test files
*.test.ts
__tests__
__mocks__
